body {
    background-color: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
}
#tasks {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #333;
    padding: 10px;
    background-color: white;
}
#tasks h1, #tasks p {
    text-align: center;
}
#tasks > ul {
    list-style: none;
    padding: 0;
}
#tasks .task {
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
#tasks li.task span.task-status {
    width: 20px;
    height: 20px;
    display: inline-block;
    color: white;
    padding: 8px;
    margin-right: 10px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}
#tasks li.task span.task-status.complete {
    background-color: green;
}
#tasks li.task span.task-status.incomplete {
    background-color: maroon;
}